<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test2 ===> ejs</title>
</head>
<body>
    <h1>ejs 파일로 데이터 전송</h1>
    <p>*아이디: <%=loginData.id%></p>
    <p>*비밀번호: <%=loginData.password%></p>
</body>
</html>